.main__home {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    min-height: 100vh;
}

.main__home:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.705);
    z-index: -1;
}

.home__container {
    max-width: 1170px;
    margin: 0 auto;
}

.main {
    padding: 40px 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.main__text h1 {
    font-size: 50px;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
}

.main__text p {
    font-size: 16px;
    color: #fff;
    line-height: 24px;
}

.main__text button {
    outline: 0;
    border: 0;
    background-color: #F9A51A;
    border: 1px solid transparent;
    padding: 10px 30px;
    color: #000;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

.main__text button:hover {
    border: 1px solid #F9A51A;
    background-color: transparent;
    color: #fff;
}

.main__slide {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.slide__cox,
.slide__sreemangal,
.slide__sundorans {
    display: grid;
    width: 100%;
    height: 400px;
    border-radius: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 5px #000;
    opacity: 0.7;
    transition: 0.5s;
}

.slide__cox:hover {
    opacity: 1;
    cursor: pointer;
}

.slide__sreemangal:hover {
    opacity: 1;
    cursor: pointer;
}

.slide__sundorans:hover {
    opacity: 1;
    cursor: pointer;
}

.slide__cox h3 {
    align-self: end;
    margin: 0 0 30px 20px;
}

.slide__sreemangal h3 {
    align-self: end;
    margin: 0 0 30px 20px;
}

.slide__sundorans h3 {
    align-self: end;
    margin: 0 0 30px 20px;
}

.slide__cox,
.slide__sreemangal,
.slide__sundorans h3 {
    color: #fff;
    font-size: 26px;
    text-transform: uppercase;

}

/* Responsive */
@media only screen and (max-width: 575px) {
    .main {
        grid-template-columns: 1fr;
        padding: 20px 20px;
    }

    .main__text h1 {
        font-size: 30px;
    }

    .main__text button {
        padding: 10px 20px;
        font-size: 14px;
        margin-bottom: 30px;
    }

    .main__slide {
        grid-template-columns: 1fr;
    }

    .slide__cox,
    .slide__sreemangal,
    .slide__sundorans {
        width: 100%;
        height: 300px;
        background-position: left top;
    }
}

@media (min-width:576px) and (max-width:767px) {
    .main {
        grid-template-columns: 1fr;
        padding: 20px 20px;
    }

    .main__text h1 {
        font-size: 40px;
    }

    .main__text button {
        margin-bottom: 30px;
    }

    .main__slide {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    .slide__cox,
    .slide__sreemangal,
    .slide__sundorans {
        height: 300px;
        background-position: left top;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .main {
        grid-template-columns: 1fr;
        padding: 20px 20px;
    }

    .main__text h1 {
        font-size: 50px;
    }

    .main__text p {
        width: 70%;
    }

    .main__text button {
        margin-bottom: 30px;
    }

    .main__slide {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .main {
        grid-template-columns: 1fr 2fr;
        padding: 20px 20px;
    }

    .main__text h1 {
        font-size: 50px;
    }

    .main__text p {
        width: 90%;
    }

    .main__slide {
        grid-template-columns: 1fr 1fr 1fr;
    }
}